{% extends 'user/base.html' %}

{% block content %}



    <section class="homepage__hero">
        <div class="container">
            <h2>Welcome, {{ user_data.username }}!</h2>
            <p></p>
        </div>
    </section>

    <section class="homepage__content">

            <div class="user-card">
                <h3>Your Information</h3>
                <p><strong>Email:</strong> {{ user_data.email }}</p>
                <p><strong>Username:</strong> {{ user_data.username }}</p>
            </div>

    </section>


{% endblock %}